<html>
  <head>
    <title> ちゃっと </title>
    <style>
      input { disply: block; }
      ul { list-style: none; }
    </style>
  </head>
  <body> 
    <ul id="messages"></ul>
    WebSocket を使ったあぷり。
    <form id="chatbox">
      {{.UserData.name}};<br/>
      <textarea></textarea>
      <input type="submit" value="送信" />
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script>
      $(function(){
        var socket = null;
        var msgBox = $("#chatbox textarea");
        var messages = $("#messages");
        $("#chatbox").submit(function(){
          if (!msgBox.val()) return false;
          if (!socket) {
            aleart("error:WebSocket connection error");
            return false;
          }
          socket.send(msgBox.val());
          msgBox.val("");
          return false;
        });
        if (!window["WebSocket"]) {
          alert( "error: WebSocket not adopted" );
        } else {
          socket = new WebSocket("ws://localhost{{.HOST}}/room");
          socket.onclose = function() {
            alert( "connection finished" );
          }
          socket.onmessage = function(e) {
            messages.append( $("<li>").text(e.data) );
          }
        }
      });
  </script>
  </body>
</html>

