    <script>
      $(function(){
        var socket = null;
        var msgBox = $("#chatbox textarea");
        var messages = $("#messages");
        $("#chatbox").submit(function(){
          if (!msgBox.val()) return false;
          if (!socket) {
            aleart("error:WebSocket connection error");
            return false;
          }
          socket.send(msgBox.val());
          msgBox.val("");
          return false;
        });
        if (!window["WebSocket"]) {
          alert( "error: WebSocket not adopted" );
        } else {
          socket = new WebSocket("ws://localhost8080/room");
          socket.onclose = function() {
            alert( "connection finished" );
          }
          socket.onmessage = function(e) {
            messages.append( $("<li>").text(e.data) );
          }
        }
      });
  </script>
