<html>
  <head>
    <title> ろぐいん </title>
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.cc">
  </head>
  <body> 
    <div class="container">
      <div class="page-header">
        <h1> さいんしてください </h1>
      </div> 
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"> ちゃっとを行うにはさいんいんが必要です。</h3>
        </div> 
        <div class="panel-body">
          <p> さいんいんに利用sるさーびすを選んでください。</p>
          <ul>
            <li>
              <a href="/auth/login/google">Google</a>
            </li>
          </ul>
        </div> 
      </div> 
    </div> 
  </body>
</html>
